In [128]:
import pandas as pd

# Загружаем данные
data = pd.read_csv('../data/products-kg/output.csv')

data = data.iloc[:, 1:]

years = []
start_year = 2003
rows_per_year = 912
for year in range(start_year, 2025):
    years.extend([year] * rows_per_year)

# Ensure the length of the 'years' list matches the number of rows in the DataFrame
years = years[:len(data)]

# Add the year column to the DataFrame
data['year'] = years

data = data[['product', 'measure', 'year', 'month', 'cost']]


print(data.shape)

print(data.columns)

data.to_csv('../data/products-kg/goods-data-kg.csv')

(20064, 5)
Index(['product', 'measure', 'year', 'month', 'cost'], dtype='object')

                        product measure  year   month   cost
0              Рис среднезерный    1 кг  2003  январь  23.76
1              Рис длиннозерный    1 кг  2003  январь  24.89
2  Мука пшеничная высшего сорта    1 кг  2003  январь  12.90
3  Мука пшеничная первого сорта    1 кг  2003  январь  10.08
4                  Крупа манная    1 кг  2003  январь  20.37

In [109]:
# df_long = pd.melt (
#     data,
#     id_vars = ['product', 'measure'],
#     value_vars = ['январь', 'февраль', 'март', 'апрель', 'май', 'июнь', 'июль', 'август','сентябрь', 'октябрь', 'ноябрь', 'декабрь'],
#     var_name = 'month',
#     value_name = 'cost'
# )

# df_long.to_csv('../data/products-kg/output.csv', mode='a', index=True, header=False, encoding='utf-8')

# df_long.to_csv('../data/products-kg/output.csv')

In [110]:

k = pd.read_csv('../data/products-kg/output.csv')
print(k.shape)

(20976, 5)